<?xml version="1.0"?>
<robot name="lio" xmlns:xacro="http://tixiaoshan.github.io/">
  <xacro:property name="PI" value="3.1415926535897931" />

  <link name="chassis_link"></link>

  <link name="base_link">
    <visual name="base_visual">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://dtpro_slam/launch/include/config/lexus.dae" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_link_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="imu_link"> </link>
  <joint name="imu_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="imu_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="velodyne"> </link>
  <joint name="velodyne_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="velodyne" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="navsat_link"> </link>
  <joint name="navsat_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="navsat_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="os_imu"> </link>
  <joint name="os_imu_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="os_imu" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <link name="GPS"> </link>
  <joint name="GPS_joint" type="fixed">
    <parent link="chassis_link" />
    <child link="GPS" />
    <origin xyz="0 -3.995 0" rpy="0 0 1.570796327" />
  </joint>

</robot>
